cache/
__pycache__/
slurm_outputs/
output/
output.zip
scripts/
candidates/
allocation_comparisons/
cabinet/
*.out
figures/
FY_*.sh
FY_*.py
kshape_python/
final_results/
clustering_results/
allocation_comparison/
*.png
*.jpg